html {
  font-size: 62.5%;
}
section,
div {
  /* border: 1px solid black; */
  font-family: "Poppins", sans-serif;
}
.top {
  width: 60%;
  margin: auto;
  text-align: center;
}
.top h1 {
  font-size: 6rem;
  padding-bottom: 0;
}
.top p {
  font-size: 2.5rem;
}
.grid {
  max-width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30% 30%;
  gap: 5%;
  padding-bottom: 25%;
}
.grid div {
  border-radius: 20px;
  background-color: #f7f6fb;
}
.grid img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 65%;
}
.grid h1 {
  padding-top: 5%;
  margin: auto;
  width: 90%;
  font-size: 2rem;
}
.grid p {
  margin: auto;
  width: 90%;
  padding-top: 5%;
  color: #797470;
  font-size: 1.2rem;
}
.grid h1 p {
}
.foot {
  max-width: 100%;
  background-color: rgb(30, 30, 30);
  height: 46vh;
}
.footer {
  padding-top: 2%;
  margin: auto;
  max-width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5%;
}
.footer img {
  height: 4.5%;
  padding-bottom: 5%;
}
.footer p {
  color: #bfbdba;
  font-size: 1.5rem;
}
.footer h2 {
  color: #ffffff;
  font-size: 2.1rem;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 8%;
  height: 50em;
  padding-top: 50%;
}
.foot-img p {
  padding-top: 25%;
}
.img-end {
  height: 3%;
}
.img-end img {
  height: 4.5vh;
}
.end {
  background-color: rgb(30, 30, 30);
  color: #62625f;
  font-size: 1.5rem;
  line-height: 1.5;
}
.end div {
  max-width: 60%;
  margin: auto;
}
.thin {
  /* background-image: url("../PalmPay/palm/footerBg.e4fed23a.png"); */
  background: linear-gradient(to right, #381f7d 80%, #713ec9),
    url("../PalmPay/palm/footerBg.e4fed23a.png");
  background-repeat: no-repeat;

  background-size: cover;
  background-blend-mode: multiply;

  background-size: px;
  background-position: bottom;
  color: white;
  font-size: 2.3rem;
}
.thin div {
  max-width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 4%;
}
@media (max-width: 425px) {
  .grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 90%;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .foot-img {
    height: 1.5%;
  }
  .top {
    width: 90%;
    padding-bottom: 15%;
  }
  .top h1 {
    font-size: 2.5rem;
  }
  .top p {
    font-size: 1.3rem;
  }
}
